@using Pronia.ViewModels.ProductViewModels
@model List<ProductGetVM>
<div class="container">
    <div class="row">
        <h2>Products</h2>
        <a class="btn btn-primary my-3" asp-area="Admin" asp-controller="product" asp-action="Create">Add New product</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Desciprtion</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Actions</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td><img src="~/assets/images/website-images/@product.MainImageUrl" alt="Alternate Text" width=30px; height=30px /></td>
                        <td>@product.Price</td>
                        <td>@product.Rating</td>

                        <td>@product.CategoryName</td>
                        <td>

                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Update</a>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger deleteBtn">Delete</a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>
</div>
